.signin{
    width: 380px;
    display: flex;
    flex-direction: column;
    .title{
        font-family: 'Roboto', sans-serif;
        margin: 10px 0;
    }
    .subTitle{
        color: gray;
        font-family: 'Roboto', sans-serif;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
    }
}